Repository cryostatio/jfr-datasource, pull requests merged in 2021-11, with the labels that each got.

#91 build: Delete dashboard.json
  dashboards/dashboard.json
Labels: build

#84 fix(application.properties): increase default http max-body-size
  README.md
  src/main/resources/application.properties
Labels: backport, fix

#93 chore: remove setup directory
  setup/SETUP.md
Labels: chore

#94 fix(application.properties): increase default http max-body-size
  README.md
  src/main/resources/application.properties
Labels: fix
