Repository cryostatio/jfr-datasource, pull requests merged in 2022-06, with the labels that each got.

#107 feat(endpoint): add endpoints to delete jfr files
  README.md
  pom.xml
  src/main/java/io/cryostat/jfr/datasource/server/JfrResource.java
  src/main/java/io/cryostat/jfr/datasource/sys/FileSystemService.java
  src/test/java/io/cryostat/jfr/datasource/server/DatasouceTest.java
  src/test/java/io/cryostat/jfr/datasource/server/NativeDatasourceIT.java
  src/test/java/io/cryostat/jfr/datasource/tests/DatasourceTest.java
  src/test/java/io/cryostat/jfr/datasource/tests/NativeDatasourceIT.java
Labels: enhancement

#112 test(native): fix native-image fail since not supporting injected bean
  src/test/java/io/cryostat/jfr/datasource/server/NativeDatasourceIT.java
Labels: test

#114 chore(readme): update version of native artifact
  README.md
Labels: chore

#117 chore(pom): update to JDK17
  .github/workflows/ci.yaml
  .mvn/jvm.config
  README.md
  pom.xml
Labels: chore, dependencies

#118 chore(pom): remove spotless JDK modules workaround
  .mvn/jvm.config
  pom.xml
Labels: build, chore

#121 build(deps): use rest-assured from quarkus-bom
  pom.xml
Labels: build, chore

#120 build(deps): use rest-assured from quarkus-bom
  pom.xml
Labels: build, chore
