Repository cryostatio/jfr-datasource, pull requests merged in 2022-05, with the labels that each got.

#99 build(version): bump version to 2.2.0-SNAPSHOT
  pom.xml
Labels: build, chore

#101 build(version): set version for 2.1.0 release
  pom.xml
Labels: build, chore

#102 build(version): bump version to 2.1.1-SNAPSHOT
  pom.xml
Labels: build, chore

#104 Fix(jfr): Fix IO operation blocking main thread
  src/main/java/io/cryostat/jfr/datasource/server/JfrResource.java
Labels: bug, fix

#106 chore(mvn): add spotless plugin for code formatting
  pom.xml
  src/main/java/io/cryostat/jfr/datasource/events/RecordingService.java
  src/main/java/io/cryostat/jfr/datasource/json/JsonUtils.java
  src/main/java/io/cryostat/jfr/datasource/server/JfrResource.java
  src/main/java/io/cryostat/jfr/datasource/server/Query.java
  src/main/java/io/cryostat/jfr/datasource/server/Target.java
  src/main/java/io/cryostat/jfr/datasource/utils/ArgRunnable.java
  src/test/java/io/cryostat/jfr/datasource/tests/DatasourceTest.java
  src/test/java/io/cryostat/jfr/datasource/tests/NativeDatasourceIT.java
Labels: chore
