Repository cryostatio/jfr-datasource, pull requests merged in 2023-10, with the labels that each got.

#218 chore(events): replace deprecated getAttributes method
  src/main/java/io/cryostat/jfr/datasource/events/RecordingService.java
Labels: chore

#221 build(deps): upgrade Netty to 4.1.100.Final
  pom.xml
Labels: backport, build, chore

#229 fix(logs): fix format specifiers in Log messages
  src/main/java/io/cryostat/jfr/datasource/events/RecordingService.java
  src/main/java/io/cryostat/jfr/datasource/server/Datasource.java
Labels: backport, fix

#234 build(pom): correct release branch project version
  pom.xml
Labels: build, ci
