Repository cryostatio/jfr-datasource, pull requests merged in 2023-09, with the labels that each got.

#213 fix(dockerfile): use JAVA_OPTS_APPEND and do not ExitOnOutOfMemoryError
  src/main/docker/Dockerfile.jvm
Labels: fix

#214 feat(uploads): Evaluate incoming JFR files for processing
  src/main/java/io/cryostat/jfr/datasource/server/Datasource.java
Labels: feat

#215 build(mvn): add mvn wrapper
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  README.md
  mvnw
  mvnw.cmd
Labels: build, chore
