Repository cryostatio/jfr-datasource, pull requests merged in 2023-08, with the labels that each got.

#200 chore(license): change project license to Apache-2.0
  LICENSE
  LICENSE.txt
  src/main/java/io/cryostat/jfr/datasource/events/RecordingService.java
  src/main/java/io/cryostat/jfr/datasource/json/JsonUtils.java
  src/main/java/io/cryostat/jfr/datasource/server/Datasource.java
  src/main/java/io/cryostat/jfr/datasource/server/Query.java
  src/main/java/io/cryostat/jfr/datasource/server/Search.java
  src/main/java/io/cryostat/jfr/datasource/server/Target.java
  src/main/java/io/cryostat/jfr/datasource/sys/FileSystemService.java
  src/main/java/io/cryostat/jfr/datasource/utils/ArgRunnable.java
  src/main/java/io/cryostat/jfr/datasource/utils/InvalidQueryException.java
  src/test/java/io/cryostat/jfr/datasource/server/DatasourceTest.java
  src/test/java/io/cryostat/jfr/datasource/server/NativeDatasourceIT.java
Labels: chore

#202 chore(quarkus): upgrade to Quarkus 3
  .github/workflows/push-ci.yaml
  README.md
  pom.xml
  src/main/java/io/cryostat/jfr/datasource/events/RecordingService.java
  src/main/java/io/cryostat/jfr/datasource/server/Datasource.java
  src/main/java/io/cryostat/jfr/datasource/sys/FileSystemService.java
  src/test/java/io/cryostat/jfr/datasource/server/DatasourceTest.java
Labels: chore

#203 chore(build): JVM-mode Dockerfile
  README.md
  src/main/docker/Dockerfile.jvm
Labels: build, chore

#204 ci(multiarch): build multiarch JVM mode OCI manifest on push
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
Labels: ci, dependent

#208 build(assembly): add profile to archive Quarkus artifacts
  pom.xml
  src/assembly/quarkus-app.xml
Labels: build, chore
